<!-- <mat-drawer class="sidenav" hasBackdrop="side" position="start" mode="over" autosize="true">
  <p>Sellamün aleyküm agalar</p>
  <p>Auto-resizing sidenav</p>
  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
  </button>
</mat-drawer> -->
<mat-drawer [opened]="this.opened" [mode]="'side'">
  <mat-nav-list>
    <a>sellamğn aleykümadadadawd</a>
  </mat-nav-list>
</mat-drawer>


<!-- <mat-sidenav opened="this.opened" autosize>
    <button mat-button (click)="opened = !opened">
        Hello from Sidenav-Content
      </button>
  </mat-sidenav> -->
<!-- <mat-sidenav [mode]="push" [opened]="opened" autosize>
  <p>Sellamün aleyküm agalar</p>
  <p>Auto-resizing sidenav</p>
  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
  </button>
</mat-sidenav> -->