<!-- <div class="sidenav-content">
    <button type="button" mat-button (click)="toggle()">
      Toggle sidenav
    </button>
</div> -->

<!-- <mat-sidenav-content>
    <p><button mat-button (click)="toggle()">CanToggle</button></p>
    <p>
        <mat-radio-group class="example-radio-group" [formControl]="mode">
            <label>Mode:</label>
            <mat-radio-button value="over">Over</mat-radio-button>
            <mat-radio-button value="side">Side</mat-radio-button>
            <mat-radio-button value="push">Push</mat-radio-button>
        </mat-radio-group>
    </p>
</mat-sidenav-content> -->



<mat-drawer-content class="a">
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
    <button mat-button (click)="toggle()">CanToggle</button>
</mat-drawer-content>